.bg_image1 {
  /* background-image: url("../../Global/images/MCIP_background.png") no-repeat
    scroll center top;
  background-size: cover; */
  /* background-size: 100% 100%; */
  overflow-y: scroll;
  background-image: url("../../Global/images/MCIP_background1.png");
  background-size: 100% 100%;
  min-height: 100vh;
  height: auto;
}

.bgimage {
  background-image: url("../../Global/images/MCIP_background.png") no-repeat
    scroll center fixed;
  background-size: cover;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

.container {
  background-image: url("../../Global/images/MCIP_background.png");
  /* background-size: cover; */
  background-size: 100% 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.box_ca {
  /* width: 60%; */
  width: 100%;
  height: 100%;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.colca {
  width: 60%;
  display: flex;
  flex-direction: row;
}

.code_place {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
}

.grade_place {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
}

.box_ca1 {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  overflow-x: hidden;
}
